
.card {
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.news {
    background-color: rgba(229, 218, 0, 0.763);
}

.politic {
    background-color: rgba(0, 0, 0, 0.811);
    color: white;
}

.education {
    background-color: rgb(91, 169, 243);
}

button {
    margin-left: 30px;
}